* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background-color: #2e6fcb;
}

header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin-bottom: 20px;
    color: #fff;
}

#scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-size: 18px;
}

.score {
    margin: 0 20px;
    font-weight: bold;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #e9e2e2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    line-height: 100px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    background-color: #fff;
}

.cell:hover {
    background-color: #f0f0f0;
}

#status {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    color: #fff;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}